
header{
    border-bottom: 4px solid #003571;
    background-color: #f1f9f9;
    height: 7.5em;
    margin-bottom: 1.5em;
}
nav.app-header{
    height: 100%;
    max-width: 800px;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav.app-header{
}
nav.app-header>ul{
    list-style: none;
    display: flex;  
    margin: 0;

}
.logo{
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;

}
nav.app-header img{
    height: 70%;
}
nav.app-header .router-link{
    height: 100%;
    display: flex;
    min-width: 6em;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #003571;
}
nav.app-header .router-link-active{
    color:#f8981d;
    border-bottom: 4px solid #f8981d;
}