.email-app{
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 2.2em 1fr;
    max-width: 800px;
    margin: auto;
    gap: 10px;
}
.email-filter{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}


.email-menu{
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

